*{
    margin:0;
    padding: 0;
}


.header{
  width:100%;
  height: 400px;
    background-image:url(../images/back1.jpg);
    background-size: 100%;
 
    

}
body{
    background-color: rgb(26, 25, 25);
}
.nav-bar ul{
list-style: none;
position: relative;
top:10px;
}
.nav-bar ul li{
    float: left;
    margin-left:8px;
    padding: 6px 8px;
}
.nav-bar ul li a{
text-decoration: none;
color:orange;
font-size: 20px;
display: block;
font-weight: bold;

}
.nav-bar ul li a:hover{
    color:orangered;
}
.slide{
   width:50%;

text-align: center;
    position: absolute;

  top:150px;
  left:20%;
 
    
}
.slide h1{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

margin-bottom: 10px;
}
.bt1{
    padding:5px 6px;
    background-color: orange;
cursor: pointer;
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
border-radius: 10px;

}
.bt1:hover{
    background-color: orangered;
}
.fix{
    clear: both;
    float: none;

}
.category{
    background-color: rgb(47, 47, 47);
    margin-top:10px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-around;
}
.box{
    width:30%;
    text-align:center;
    background-color: white;
    margin-top:20px;
    margin-bottom: 20px;
    padding:7px;
    border-radius: 27px;
}
.box img{
    width:97%;
}
.box .title{
    font-size: 18px;
    font-weight: bold;
}
.box .price{
    padding:4px;
    color:red;

}
.footer{
    background-color: white;
    display: flex;
    justify-content:space-around;
    padding:2%;
}
.quick{
    width:30%;
    margin-top:20px;
   border-right: 2px solid orangered;
}
.quick ul{
    list-style: none;
}
.quick ul a{
    text-decoration: none;
    font-size: 18px;
    color:black;
  margin-left:20px;
    
}
.address{
    width:30%;
    margin-top:20px;
    font-size: 18px;
    border-right: 2px solid orangered;
}
.map{
    width:30%;
    text-align: center;
}