.main-reg{
    width:40%;
    padding:2% 3%;
    
margin:auto;
}
.main-reg h1{
    text-align: center;
    color:rgb(19, 109, 226)
}
.main-reg .reg-table{
    text-align: center;
}

 .label{
font-size: 20px;
padding:2px;
text-align: left;
color:orange;
font-weight: bold;
}
input , select{
    margin-top:10px;
    padding: 2%;
    font-size: 17px;
}
select{
    width: 240px;
    padding:2%;
}
   .reg {
     
        margin-top:20px;
        padding:1% ;
        font-weight: bold;
        color: rgb(250, 250, 250);
        font-size: 16px;
        background-color: rgb(19, 109, 226);
        letter-spacing: 2px;
        border-radius:14px;
        
    }
    input[type=radio]{
        margin-left: 20px;
    }
    span{
        color:white;
    }